body {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

.disclaimer {
    color: #666;
    font-style: italic;
}





/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija para cubrir toda la pantalla */
    z-index: 1; /* Z-index alto para que esté sobre todo */
    left: 0;
    bottom: 0; /* Posición en la parte inferior */
    width: 100%;
    overflow: auto; /* Habilitar desplazamiento si es necesario */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    max-width: 80%; /* Ancho máximo del modal */
    text-align: center;
}
